doctype html

html
  head
    title Times
    script(type='text/javascript' src="zingchart/client/zingchart.min.js")

    script.
       var ping_chartData={
       "type":"line",  // Specify your chart type here.
       "plot":{ 
            "aspect":"spline" 
        },
       "title": {
            "text": "Ping response time in mS"
       },
       "legend": {},
        "scale-y":{
                 "zooming": true
         },
        "scale-x":{
                   "min-value": #{the_time},    /* in Unix time */
                   "step":"hour",                /* in Unix time (or use ZingChart's shortcuts) */
                   "transform":{                /* to convert to a readable format */
                        "type":"date",
                        "all":"%H:%i %d, %M %y"
                    },
                    "zooming": true
       },
       "series":[  // Insert your series data here.
        { "values": [ #{gpings} ], "text": "google.com " },
        { "values": [ #{apings} ] , "text": "apple.com "},
        { "values": [ #{ppings} ] , "text": "plus.net"}
        ]
        };

       var rate_chartData={
       "type":"line",  // Specify your chart type here.
       "plot":{ 
            "aspect":"spline" 
        },
       "title": {
            "text": "Download speed in Kbytes/s"
       },
       "legend": {},
        "scale-y":{
                 "zooming": true
         },
        "scale-x":{
                   "min-value": #{the_time},    /* in Unix time */
                   "step":"hour",                /* in Unix time (or use ZingChart's shortcuts) */
                   "transform":{                /* to convert to a readable format */
                        "type":"date",
                        "all":"%H:%i %d, %M %y"
                    },
                    "zooming": true
       },
       "series":[  // Insert your series data here.
        { "values": [ #{bradbury_rates} ] , "text": "bradbury"},
        { "values": [ #{plus_rates} ] , "text": "plusnet" } /*        { "values": [ #{imac_rates} ] , "text": "imac "} */
        ]
        };
        window.onload=function(){  // Render Method[2]
           zingchart.render({ 
           id:'pingDiv',
           data:ping_chartData,
           height:400,
           width:600
         });
           zingchart.render({ 
           id:'rateDiv',
           data:rate_chartData,
           height:400,
           width:600
         });
           zingchart.render({ 
           id:'scatter',
           data:rate_scatter_chartData,
           height:400,
           width:600
         });
       };
  body
    h1="Internet speeds"

    div(id="pingDiv")&attributes({"style":"float:left"})
    div(id="rateDiv")&attributes({"style":"float:left"})
    div(id="scatter")&attributes({"style":"float:left"})
//        each val in gpings
//            li=JSON.stringify(val)
//   To use this, it seems to have to go just below the h1
//    ul
//       each val in time_list
//           li=JSON.stringify(new Date(parseInt(val._id.toString().substring(0,8),16)*1000).toUTCString())
