doctype html

html
  head
    title Times
    script(type='text/javascript' src="zingchart/client/zingchart.min.js")

    script.
       var ping_chartData={
       "type":"line",  // Specify your chart type here.
       "series":[  // Insert your series data here.
        { "values": [ #{gpings} ] },
        { "values": [ #{apings} ] },
        { "values": [ #{ppings} ] }
        ]
        };
       var rate_chartData={
       "type":"line",  // Specify your chart type here.
       "series":[  // Insert your series data here.
        { "values": [ #{gpings} ] },
        { "values": [ #{apings} ] },
        { "values": [ #{ppings} ] }
        ]
        };
        window.onload=function(){  // Render Method[2]
           zingchart.render({ 
           id:'pingDiv',
           data:ping_chartData,
           height:400,
           width:600
         });
           zingchart.render({ 
           id:'rateDiv',
           data:rate_chartData,
           height:400,
           width:600
         });
       };
  body
    h1=keith

    div(id="pingDiv")
    div(id="rateDiv")

//    ul
//        each val in gpings
//            li=JSON.stringify(val)
//        each val in time_list
//           li=JSON.stringify(new Date(parseInt(val._id.toString().substring(0,8),16)*1000).toUTCString())
